/front/node_modules/
.idea
/db/data

# Ignore bundler config.
/api/.bundle

# Ignore all logfiles and tempfiles.
/api/log/*
/api/tmp/*
!/api/log/.keep
!/api/tmp/.keep

/api/public/assets
/api.byebug_history

# Ignore master key for decrypting credentials and more.
/api/config/master.key

/api/tmp/pids/
!/api/tmp/pids/.keep

# Ignore uploaded files in development.
/api/storage/*
!/api/storage/.keep

# api.env
# db.env
